@font-face {
  font-family: 'gobold';
  src: url("./gobold_regular-webfont.woff2") format("woff2"),
    url("./gobold_regular-webfont.woff") format("woff"),
    url("./goboldregular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'goboldUplow';
  src: url("GoboldUplow.woff2") format("woff2"),
    url("GoboldUplow.woff") format("woff"),
    url("./GoboldUplow.ttf") format("truetype");
}